@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 16px;
	}

	body {
		font-family: 'Manrope', sans-serif;
		@apply min-h-screen flex flex-col bg-white text-neutral-900;
	}

	#root {
		@apply min-h-screen flex flex-col grow;
	}

	.layout-container {
		@apply flex flex-col grow;
	}

	.gateway-container {
		@apply h-screen bg-gradient-to-b from-slate-50 from-50% via-slate-50 to-rose-500 to-50%;
	}
}

@layer components {
	.points-label {
		@apply cursor-pointer flex items-center border rounded-lg px-3 py-4;
	}

	.points-label:first-of-type:not(:last-of-type) {
		@apply rounded-b-none;
	}

	.points-label:last-of-type:not(:first-of-type) {
		@apply rounded-t-none border-t-0;
	}

	.points-radio:checked + .points-label {
		@apply bg-slate-50;
	}

	.points-radio-circle {
		@apply h-5 w-5 rounded-full border relative;
	}

	.points-radio:checked + .points-label .points-radio-circle::before {
		content: '';
		@apply absolute inset-0 m-1 rounded-full bg-slate-300;
	}

	.provider-label {
		@apply cursor-pointer flex items-center border rounded-lg px-3 py-4;
	}

	.provider-label:has(.provider-radio:checked),
	.provider-label:has(.provider-radio[aria-checked='true']) {
		@apply bg-slate-50;
	}

	.provider-radio {
		margin-left: auto;
	}
}

@layer utilities {
	.padding {
		@apply p-[50px] lg:p-[100px];
	}
}
